.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  background-color: #f2f2f2;
  position: relative;
  /* выше установили ограничения для секции */
}

.logo_place_header {
  top: 30px;
  left: 64px;
  z-index: 2;
  position: absolute;
}

.logo {
  width: 228px;
  height: 32px;
}

.header__title {
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  width: 730px;
  margin-left: 64px;
  z-index: 2;
  display: flex;
  align-self: center;
}

.header__subtitle {
  font-weight: normal;
  line-height: 25px;
  font-size: 18px;
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  margin: 0 auto;
  color: #000000;
  z-index: 2;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  top: 64px;
  right: 0px;
  position: absolute;
}

.description {
  margin-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0 auto;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-column__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 30px;
}

.two-column__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-column__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.table {
  display: flex;
  width: 1100px;
  flex-wrap: wrap;
  margin: 0 auto;
  list-style: none;
  justify-content: space-around;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 20px;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  position: relative;
  min-height: 890px;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 867px 637px;
  margin: 0;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 648px;
  padding-top: 100px;
  text-align: center;
  margin: 0 auto;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  padding-top: 70px;
  margin: 0 auto;
  text-align: center;
}

.feynman__link {
  position: absolute;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  right: 48px;
  top: 50%;
}

.kaufman {
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;
  position: relative;
  background-image: url(../images/kaufman-triangle.svg) ;
  background-repeat: no-repeat;
  background-size: 877px;
  background-position: right -210px top 0;
}

.section-title_theme_dark {
  color: white;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.section-subtitle_theme_dark {
  color: white;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  padding-top: 20px;
  text-align: center;
  margin: 0 auto;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
  margin-right: 20px;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 20px;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.footer {
  background-color: #1f1f1f;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  display: flex;
  color: white;
  min-height: 350px;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 18px;
  margin-bottom: 18px;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
}